/* -------------------------------------------------------
                     phone & tablet 
-------------------------------------------------------- */
@media (max-width: 1024px) {
	.pric-tables {
	    padding-left: 40px;
	}
}

@media (max-width: 991px) {
	.navbar {
		padding-top: 0;
		padding-bottom: 0;
	}
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
	.navbar-fixed-top {
	    padding: 5px 0 20px 0;
	}
	.navbar-toggle .icon-bar {
	    background: #FFF;
	}
	.navbar-fixed-top .logo {
	    padding-top: 10px;
	}
	.navbar-fixed-top .navbar-nav>li>a {
	    color: #212121;
	}
	.navbar-fixed-top .navbar-nav>li {
		margin-bottom: 15px;
		margin-top: 15px;
	}
	.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
	    max-height: 400px;
	    background-color: #FFF;
	}
	.navbar-brand {
		height: auto;
		line-height: auto;
		padding: 15px 0;
	}
	.navbar>.container .navbar-brand, 
	.navbar>.container-fluid .navbar-brand {
		padding: 15px 0;
		margin-left: 15px;
	}
	.navbar-toggle {
    	margin-top: 25px;
	}
	.fixed .navbar-nav>li {
    	margin-left: 15px;
	}
	.fixed {
		padding: 5px;
	}
	.fixed .logo {
	    padding: 10px;
	}
	.fixed .navbar-toggle .icon-bar {
	    background: #212121;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
    }
    .navbar-nav>li {
        float: none;
    }
    .collapse.in{
        display:block !important;
    }
    .navbar-collapse {
	    background-color: #FFF;
	}
	.navbar .navbar-nav > li > a {
	    color: #212121;
	    padding-bottom: 10px;
	}
	.services {
		padding: 120px 0 60px 0;
	}
	.services .serv-title {
		margin-top: 0;
		margin-bottom: 60px;
	}
	.services .serv-cont {
		padding-left: 0;
	}
	.about .ab-pic {
		text-align: center;
	}
	.about .ab-cont {
		padding-left: 15px;
		padding-top: 60px;
	}
	.skills {
		padding-left: 15px;
		padding-top: 60px;
	}
	.work .work-item {
    	width: 50%;
	}
	.facts {
		padding: 120px 0 60px 0;
	}
	.facts .facts-c .fact-item {
		margin-bottom: 60px;
	}
	.prices .price-title {
		margin-top: 0;
	}
	.pric-tables {
		padding-left: 0;
		padding-top: 100px; 
	}
	.prices .price-table {
		margin-bottom: 60px;
	}
	.prices .price-table:last-child {
		margin-bottom: 0;
	}
	.blog {
		padding: 120px 0 60px 0;
	}
	.blog-item {
	    margin-bottom: 60px;
	}
	.contact .cont-title .info {
		margin: 60px 0;
	}
	.contact-item {
	    margin-bottom: 30px;
	    display: inline-block;
	    width: 100%;
		padding-left: 0;
	}
}

@media (max-width: 770px) {
	.work .work-item {
        width: 48.8%;
	}
}

@media (max-width: 575px) {
	.s-header .middle-c .capt h1 {
	    font-size: 50px;
	    line-height: 55px;
	    display: inline-block;
	}
	.work .filter-work {
		padding: 0 15px;
	}
	.work .filter-work a {
		margin-bottom: 7px;
	}
	.work .filter-work a:first-child {
	    padding-left: 16px;
	    border-radius: 4px;
	}
	.work .filter-work a:last-child {
	    padding-right: 16px;
	    border-radius: 4px;
	}
	.work .work-item {
    	width: 97%;
	}
	.footer .sc-icon a {
		margin: 7px 0;
		display: inline-block;
	}
}

@media (max-width: 340px) {
	.s-header .middle-c .capt h1 {
	    font-size: 40px;
	    line-height: 45px;
	}
	.prices .price-title .price-tabs li a {
	    margin-bottom: 15px;
	    display: block;
	}
}