/* =======================================================================
Multix - ONE PAGE PARALLAX
======================================================================= */

/*

    1. TYPOGRAPHY
    2. GLOBAL STYLES
    3. HEADER
    4. NAVGITION
    5. ABOUT
    6. EXPERIENCES
    7. SERVICES
    8. WORK
    9. FACTS
    10. PRICES
    11. TESTIMONIALS
    12. BLOG
    13. CONTACT
    14. FOOTER
    15. CONTACT PAGE

*/

/*---------------------------------------
  1. TYPOGRAPHY                
-----------------------------------------*/
  
/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Poppins:700');

/* --------------------------------------
  2. GLOBAL STYLES
-----------------------------------------*/
body {
  background: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  overflow-x: hidden;
  color: #1c1c1c;
}
ul,ol {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
}
a {
	color:#1c1c1c;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
a:hover {
	text-decoration: none;
}
a:focus {
	text-decoration: none;
}
p,span,h1,h2,h3,h4,h5,a {
  margin:0;
  letter-spacing: 0.5px;
  line-height: 27px;
}
img {
  max-width: 100%;
  height: auto;
}
.clear {
	clear:both;
}
.sections {
  padding: 120px 0;
  position: relative;
}

/* PRELOADER */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  z-index: 9999999999999
}
.load-circle {
  margin: 45vh auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #e8e8e8;
  border-top: 2px solid #212121;
  -webkit-animation: rotate 1.2s infinite linear;
  animation: rotate 1.2s infinite linear
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(360deg)
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(360deg)
  }
}

/*---------------------------------------
  3. HEADER                
-----------------------------------------*/
.s-header {
  background: url('../img/back.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow-x: hidden!important;
}
.s-header .header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.5);
}
.s-header .middle-c {
  color: #FFF;
  position: absolute;
  width: 100%;
  top: 49.5%;
  left: 0;
  -webkit-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  transform: translate(0,-50%);
}
.s-header .middle-c .capt {
  margin: 0 auto;
  margin-top: 50px;
  float: none;
  text-align: center;
}
.s-header .middle-c .capt h1 {
  font-weight: 300;
  font-size: 60px;
  line-height: 65px;
  margin-bottom: 30px;
}
.s-header .middle-c .capt h1 span {
  font-family: 'Poppins', sans-serif;
}
.s-header .capt a {
  margin-top: 20px;
  border: 2px solid #FFF;
  display: inline-block;
  font-size: 12px;
  padding: 9px 35px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFF;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 20px 44px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 20px 44px;
  -moz-box-shadow: rgba(0, 0, 0, 0.12) 0px 20px 44px;
  -o-box-shadow: rgba(0, 0, 0, 0.12) 0px 20px 44px;
  -ms-box-shadow: rgba(0, 0, 0, 0.12) 0px 20px 44px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  font-weight: 400;
  background-color: transparent;
}
.s-header .capt a:hover {
  background: #FFF;
  color: #232323;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
}

/* --------------------------------------
  4. NAVGITION
-----------------------------------------*/
.navbar {
  background-color: transparent;
  border-color: transparent;
  padding: 20px 0 30px;
  background: 0 0;
  border: none;
  border-radius: 0;
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar .navbar-nav>li {
  font-size: 16px;
  margin: 30px 23px;
  font-weight: 400;
  cursor: pointer;
  position: relative;
}
.navbar .navbar-nav>li:last-child {
  margin-right: 14px;
}
.navbar .navbar-nav>li>a {
  color: rgba(255, 255, 255, 0.95);
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.navbar .navbar-nav>li>a:focus {
  background: transparent;
}
.navbar .navbar-nav>li>a:hover {
  background: transparent;
  color: rgba(255, 255, 255, 0.75);
}
.navbar .navbar-nav > li > a {
  padding-bottom: 20px;
}
.navbar .nav li > a {
  position: relative;
}
.dropdown-menu>li>a {
  display: block;
  padding: 3px 40px;
  clear: both;
  color: #323232;
}
.nav > li > a:focus,
.nav > li > a:hover,
.nav .open > a, 
.nav .open > a:focus, 
.nav .open > a:hover {
  background: transparent;
}
.dropdown-menu > li > a:focus, 
.dropdown-menu > li > a:hover {
  background: #efefef;
}
.leftauto {
  right: 0 !important;
  left: auto !important;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  padding-top: 11px;
  margin-left: 0;
}
.navbar .logo {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2.5px;
  padding-top: 15px;
}
.navbar .logo .dark-logo {
  display: none;
}
.navbar .logo .white-logo {
  display: block;
}
.navbar .logo, .navbar .logo:focus, .navbar .logo:hover {
  font-weight: 700;
  font-size: 28px;
  display: inline-block;
}
.fixed {
  background: #FFF;
  padding:0;
  position: fixed;
  -webkit-box-shadow: 0 0 13px #ddd;
  -moz-box-shadow: 0 0 13px #ddd;
  -o-box-shadow: 0 0 13px #ddd;
  -ms-box-shadow: 0 0 13px #ddd;
  box-shadow: 0 0 13px #ddd;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  z-index: 999;
}
.fixed .navbar-nav>li>a {
  color: #555;
}
.fixed .navbar-nav>li>a:hover {
  color: #555;
  opacity: 0.7;
}
.fixed .navbar-nav>li>.dropdown-menu {
  margin-top: 9px;
}
.fixed .navbar-nav>li {
  margin: 30px 23px 10px 23px;
}
.fixed .logo {
  padding-top: 25px;
}
.fixed .logo .white-logo {
  display: none;
}
.fixed .logo .dark-logo {
  display: block;
}
.navbar-toggle .icon-bar {
  background: #FFF;
}

/* --------------------------------------
  5. ABOUT
-----------------------------------------*/
.about .ab-cont {
  padding-left: 60px;
}
.about .ab-cont h3 {
  font-weight: 300;
  font-size: 45px;
  line-height: 50px;
  margin-bottom: 50px;
}
.about .ab-cont h3 span {
  font-family: 'Poppins', sans-serif;
}
.about .ab-cont p {
  font-weight: 400;
  color: #555;
  font-size: 13.5px;
}
.about .ab-cont .features {
  margin-top: 50px;
}
.about .ab-cont .features .icon,
.about .ab-cont .features i {
  font-size: 20px;
  display: inline-block;
  margin-right: 10px;
}
.about .ab-cont .features p {
  margin-bottom: 20px;
}
.about .ab-cont .features p:last-child {
  margin-bottom: 0;
}

/* --------------------------------------
  6. EXPERIENCES
-----------------------------------------*/
.experiences {
  background-color: #f7f7f7;
}
.experiences .exp-lf {
  padding-right: 30px;
}
.experiences .exp-lf h3 {
  font-weight: 300;
  font-size: 45px;
  line-height: 50px;
  margin-bottom: 30px;
}
.experiences .exp-lf h3 span {
  font-family: 'Poppins', sans-serif;
}
.experiences .exp-lf p {
  color: #555;
  font-weight: 400;
  font-size: 13.5px;
}
.skills {
  padding-left: 80px;
}
.skills li span {
  font-family: 'Poppins', sans-serif;
  color: #212121;
  font-size: 12.5px;
  text-transform: uppercase;
}
.skills .skills-left {
  padding: 0 30px 0 0;
}
.skills .skills-right {
  padding: 0 0 0 30px;
}
.skills .skills-bottom {
  padding: 30px 0 0 0;
}
.skills li {
  margin-bottom: 35px;
}
.skills li:last-child {
  margin-bottom: 0;
}
.skills li .progress-bar {
  position: relative;
  background: 0 0;
  box-shadow: none;
}
.skills li .progress {
  position: relative;
  background: 0 0;
  height: 22px;
  box-shadow: none;
  margin-bottom: 0;
}
.skills li .progress, .skills-background {
  border: none;
}
.skills li .progress::before {
  position: absolute;
  background: #dcdcdc;
}
.skills li .progress-bar::before {
  position: absolute;
  -webkit-transition: ease-out .7s;
  -moz-transition: ease-out .7s;
  -o-transition: ease-out .7s;
  transition: ease-out .7s;
}
.skills li .progress-bar::before,
.progress::before {
  content: '';
  top: 50%;
  width: 100%;
  height: 2px;
  left: 0;
}
.skills li .progress-bar span {
  position: absolute;
  top: 0px;
  right: 0;
  background: #f7f7f7;
  padding: 1px 5px;
  color: #111;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
}

/* --------------------------------------
  7. SERVICES
-----------------------------------------*/
.services {
  padding: 140px 0 60px 0;
  background-color: #1c1c1c;
}
.services .serv-title {
  margin-top: 100px;
}
.services .serv-title h4 {
  font-size: 38px;
  line-height: 50px;
  font-weight: 300;
  color: #FFF;
}
.services .serv-title h4 span {
  font-family: 'Poppins', sans-serif;
}
.services .serv-c {
  margin-bottom: 60px;
}
.services .serv-item .serv-icon i,
.services .serv-item .serv-icon .icon {
  font-size: 37px;
}
.services .serv-item .serv-icon .icon-overlay {
  position: absolute;
  left: 15px;
  top: -20px;
  opacity: 0.13;
  font-size: 60px;
}
.services .serv-item .serv-cont h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  letter-spacing: 1.5px;
  margin: 20px 0 10px 0;
  color: #FFF;
}
.services .serv-item .serv-cont p {
  font-size: 13.4px;
  font-weight: 400;
  color: #bbb;
}

/* --------------------------------------
  8. WORK
-----------------------------------------*/
.work {
  background-color: #FFF;
  color: #1c1c1c;
}
.work .wo-title {
  float: none;
  margin: 0 auto;
  margin-bottom: 120px;
}
.work .wo-title h2 {
  font-weight: 300;
  font-size: 35px;
  line-height: 40px;
}
.work .wo-title h2 span {
  font-family: 'Poppins', sans-serif;
}
.work .wo-title p {
  color: #666;
  font-weight: 400;
  margin-top: 30px;
}
.work .filter-work {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
  margin-left: 15px;
}
.work .filter-work a {
  color: #1c1c1c;
  background: transparent;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  padding: 7px 30px;
  cursor: pointer;
  font-size: 12.5px;
  margin: 0 1px;
  border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: inline-block;
}
.work .filter-work .is-checked {
  color: #FFF;
}
.work .filter-work a:first-child {
  padding-right: 22px;
  border-radius: 100px 0 0 100px;
}
.work .filter-work a:last-child {
  padding-left: 22px;
  border-radius: 0 100px 100px 0;
}
.work .filter-work a:hover {
  color: #FFF;
}
.work .work-item {
  padding: 0 0px 10px 14px;
  width: 33%;
}
.work .work-caption {
  position: relative;
}
.work .work-caption img {
  height: auto;
  width: 100%;
  max-width: 100%;
}
.work .work-caption .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: ease-out .3s;
  -moz-transition: ease-out .3s;
  -o-transition: ease-out .3s;
  transition: ease-out .3s;
  opacity: 0;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
}
.work .work-caption .overlay:focus {
  outline: none;
}
.work .work-caption .overlay span,
.work .work-caption .overlay i {
  color: #FFF;
}
.work .work-item:hover .overlay {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
}
.work .work-caption .info-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  text-align: left;
}
.work .work-caption .info-content h4 {
  color: #FFF;
  font-size: 18px;
  position: relative;
  font-family: 'Poppins', sans-serif;
}
.work .work-caption .info-content p {
  font-size: 15px;
  color: #FFF;
  font-style: italic;
}
.work .work-caption .know-more {
  position: absolute;
  bottom: 20px;
  right: 20px;
  text-align: left;
  font-size: 30px;
}
.work .work-caption:focus,
.work .work-item:focus, 
.work .work-caption img:focus,
.work .work-caption a:focus {
  outline: none;
}

/* --------------------------------------
  9. FACTS
-----------------------------------------*/
.facts {
  background-image: url('../img/pattern.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.facts .facts-title {
  float: none;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 120px;
}
.facts .facts-title h3 {
  font-weight: 300;
  font-size: 45px;
  line-height: 50px;
  margin-bottom: 30px;
}
.facts .facts-title h3 span {
  font-family: 'Poppins', sans-serif;
}
.facts .facts-title p {
  color: #555;
  font-weight: 400;
  font-size: 13.5px;
}
.facts .facts-c {
  text-align: center;
}
.facts .facts-c .count {
  font-family: 'Poppins', sans-serif;
  font-size: 55px;
}
.facts .facts-c .count:before {
  content: '+ ';
}
.facts .facts-c h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin-top: 20px;
  text-transform: uppercase;
}

/* --------------------------------------
  10. PRICES
-----------------------------------------*/
.prices .price-title {
  margin-top: 120px;
}
.prices .price-title h3 {
  font-weight: 300;
  font-size: 35px;
  line-height: 40px;
}
.prices .price-title h3 span {
  font-family: 'Poppins', sans-serif;
}
.prices .price-title .price-tabs {
  margin-top: 60px;
}
.prices .price-title .price-tabs li {
  display: inline-block;
}
.prices .price-title .price-tabs li:last-child {
  margin-left: 7px;
}
.prices .price-title .price-tabs li a {
  font-family: 'Poppins', sans-serif;
  border: 1px solid #eee;
  font-size: 13.5px;
  font-size: 12px;
  padding: 15px 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFF;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 20px 44px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 20px 44px;
  -moz-box-shadow: rgba(0, 0, 0, 0.12) 0px 20px 44px;
  -o-box-shadow: rgba(0, 0, 0, 0.12) 0px 20px 44px;
  -ms-box-shadow: rgba(0, 0, 0, 0.12) 0px 20px 44px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  font-weight: 400;
  color: #1c1c1c;
  background-color: transparent;
}
.prices .price-title .price-tabs .active a {
  color: #FFF;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
}
.prices .price-title .price-tabs a:hover {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
}
.pric-tables {
  padding-right: 0;
  padding-left: 60px;
}
.pric-tables .item {
  background: #FFF;
  border: 1px solid #f2f4ec;
  padding: 50px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}
.pric-tables .item .type {
  margin: 0 0 40px 0;
}
.pric-tables .item .type h5 {
  font-size: 22px;
  letter-spacing: 3px;
  font-family: 'Poppins', sans-serif;
}
.pric-tables .item .mount {
  margin: 25px 0 50px 0;
}
.pric-tables .item .mount h3 {
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
}
.pric-tables .item .mount h3 span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding-left: 3px;
  color: #999;
}
.pric-tables .item .pfeat {
  margin: 0 0 50px;
  width: 100%;
  text-align: left;
}
.pric-tables .item .pfeat p {
  padding-bottom: 15px;
  margin-bottom: 15px;
  color: #656565;
  font-size: 13.5px;
  font-weight: 300;
}
.pric-tables .item .pfeat p:last-child {
  border-width: 0;
  margin-bottom: 0;
}
.pric-tables .item .pfeat p i {
  padding-right: 5px;
}
.pric-tables .item .order a {
  width: 90%;
  color: #999;
  border: 1px solid #999;
  display: inline-block;
  font-size: 12px;
  padding: 9px 15px;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  color: #212121;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 20px 44px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  font-weight: 400;
}
.pric-tables .order a:hover {
  box-shadow: none;
  color: #212121;
}
.pric-tables .item .green {
  color: #10daae;
}
.pric-tables .item .red {
  color: #E9573F;
}

/* --------------------------------------
  11. TESTIMONIALS
-----------------------------------------*/
.testimonials {
  background: url('http://via.placeholder.com/800x600');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
}
.testimonials-overlay {
  background: rgba(17,17,17,.9);
  text-align: center;
}
.testimonials .title {
  margin-bottom: 100px;
}
.testimonials .title h3 {
  color: #FFF;
  font-weight: 300;
  font-size: 60px;
  line-height: 65px;
}
.testimonials .title h3 span {
  font-family: 'Poppins', sans-serif;
}
.testimonials .title .devider {
  height: 1.5px;
  width: 75px;
  background-color: #FFF;
  margin: 25px auto;
}
.testimonials .icon {
  font-size: 45px;
  display: inline-block;
  margin-bottom: 45px;
  color: #212121;
}
.testimonial-box {
  margin: 0 auto;
  float: none;
  padding-left: 30px;
}
.testimonial-box p {
  color: #FFF;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px; 
  margin-bottom: 40px;
  letter-spacing: 1.5px;
}
.testimonial-box h3 {
  letter-spacing: 2px;
  font-size: 15px;
  margin-bottom: 45px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}
.t-item .testimonial-box h3 span {
  position: relative;
  text-transform: none;
  display: block;
  letter-spacing: .5px;
  color: #999;
  font-style: italic;
  font-size: 12px;
}
.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 0;
}
.owl-theme .owl-dots .owl-dot span {
  width: 7px;
  height: 7px;
  margin: 0 8px;
  background: #999;
}
.owl-theme .owl-dots .owl-dot:focus {
  outline: none;
}
.owl-theme .owl-dots .active span {
  width: 11px;
  height: 11px;
  margin: 0 8px;
}

/* --------------------------------------
  12. BLOG
-----------------------------------------*/
.blog {
  padding: 120px 0 90px 0;
}
.blog .blog-title {
  float: none;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 120px;
}
.blog .blog-title h3 {
  font-weight: 300;
  font-size: 45px;
  line-height: 50px;
  margin-bottom: 30px;
}
.blog .blog-title h3 span {
  font-family: 'Poppins', sans-serif;
}
.blog .blog-title p {
  color: #555;
  font-weight: 400;
  font-size: 13.5px;
}
.blog-item {
  color: #212121;
  padding: 45px;
  position: relative;
  border: 1px solid #e6e6e6;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  margin-bottom: 30px;
}
.blog-item:hover a,
.blog-item:hover {
  background: #252525;
  color: #FFF;
}
.blog-item .post-meta {
  font-size: 12px;
  font-weight: 400;
}
.blog-item .post-meta ul li {
  margin-right: 10px;
  display: inline-block;
  font-style: italic;
}
.blog-item .post-meta ul li i {
  padding-right: 2px;
}
.blog-item .post-title {
  margin: 20px 0;
}
.blog-item .post-title a {
  transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.blog-item .post-title h3 {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}
.blog-item .post-content p {
  color: #555;
  font-size: 13.2px;
  font-weight: 400;
}
.blog-item:hover p {
  color: #AAB2BD;
}

/* --------------------------------------
  13. CONTACT
-----------------------------------------*/
.contact {
  background-color: #1c1c1c;
}
.contact .cont-title {
  color: #FFF;
}
.contact .cont-title h3 {
  font-weight: 300;
  font-size: 45px;
  line-height: 50px;
  margin-bottom: 40px;
}
.contact .cont-title h3 span {
  font-family: 'Poppins', sans-serif;
}
.contact .cont-title p {
  color: #bbb;
  font-size: 13.5px;
  font-weight: 400;
}
.contact .cont-title .info {
  margin-top: 40px;
}
.contact .cont-title .info li {
  margin-bottom: 15px;
}
.contact .cont-title .info li:last-child {
  margin-bottom: 0;
}
.contact .cont-title .info li .icon,
.contact .cont-title .info li i {
  font-size: 17px;
  float: left;
}
.contact .cont-title .info li p {
  display: inline-block;
  color: #FFF;
  margin-left: 15px;
  font-size: 13px;
}
.contact .item {
  margin-bottom: 50px;
  color: #fff;
  display: inline-block;
  text-align: center;
}
.contact .item i,
.contact .item .icon {
  font-size: 35px;
  margin-bottom: 15px;
}
.contact .item h6 {
  font-size: 15px;
  text-transform: uppercase;
}
.contact .item h5 {
  font-size: 13px;
  line-height: 1.8;
}
.contact .contact-form textarea,
.contact .contact-form input {
  width: 100%;
  float: left;
  font-size: 16px;
  padding: 15px;
  border: none;
  background: #232323;
  border: 1px solid #232323;
  color: #FFF;
  -webkit-transition: ease-out .3s;
  -moz-transition: ease-out .3s;
  -o-transition: ease-out .3s;
  transition: ease-out .3s;
}
.contact .contact-form textarea {
  height: 213px;
}
.contact .contact-form .contact-item {
  margin-bottom: 25px;
  padding: 0;
}
.contact .contact-form .contact-item:last-child {
  margin-bottom: 0;
}
.contact .contact-form .btn-col {
  text-align: center;
  padding-top: 40px;
}
.contact .contact-form .button {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  float: none;
  font-family: 'Poppins', sans-serif;
}
.contact-item input:focus,
.contact-item textarea:focus {
  outline: none;
}
.contact .contact-form .button:hover {
  color: #FFF;
}
.contact-item .parsley-required {
  color: #a94442;
  float: left;
  margin: 7px 0 0 0;
}
.parsley-type {
  color: #a94442;
  float: left;
  margin: 7px 0 0 0;
}
#map{
  height: 500px;
  position: relative;
}

/* --------------------------------------
  14. FOOTER
-----------------------------------------*/
.footer .ft-logo {
  float: none;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
  padding: 0 40px;
}
.footer .sc-icon {
  margin-bottom: 40px;
  text-align: center;
}
.footer .sc-icon span {
  width: 40px;
  height: 40px;
  line-height: 37px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #1c1c1c;
  background: transparent;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  display: inline-block;
  margin: 0 7px;
  border: 1px solid #1c1c1c;
}
.footer .sc-icon a:hover span {
  color: #FFF;
}
.sub-footer {
  text-align: center;
  margin-top: 25px;
}
.sub-footer h5 {
  font-weight: 400;
}

/*---------------------------------------
  15. CONTACT PAGE                
-----------------------------------------*/
.contact-p {
  background: #fafafa;
}
.contact-f {
  float: none;
  text-align: center;
  background: #FFF;
  margin: 80px auto;
  padding: 60px 30px;
  -webkit-box-shadow: 0 5px 7px 0 rgba(0,0,0,0.20);
  -moz-box-shadow: 0 5px 7px 0 rgba(0,0,0,0.20);
  box-shadow: 0 5px 7px 0 rgba(0,0,0,0.20);
}
.contact-f h3 {
  font-size: 19px;
  margin-top: 30px;
}
.contact-success i {
  color: #8cc152;
}
.contact-nosuccess i {
  color: #e9573f;
}
.footer .f-co a {
  color: #232323;
}
.maior-idade {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(../img/back-idade.jpg) center center / cover no-repeat fixed;
  z-index: 9999999999998;
}
.container-idade {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50px;
  width: 450px;
}
.area-idade {
  position: absolute;
  width: 100%;
  top: 40%;
  transform: translateY(-50%);
  text-align: center;
}
.img-idade {
  width: 250px;
  height: auto;
  margin-bottom: 20px;
}
.idade-title {
  font-size: 26px;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.idade-botoes-container {
  margin-top: 25px;
  padding-left: 10%;
  padding-right: 10%;
}
.idade-direitos {
  text-align: left;
  color: #FFF;
  font-size: 13px;
  padding-left: 10%;
  margin-top: 10px;
}
.idade-botoes-container {
  margin-top: 25px;
  padding-left: 10%;
  padding-right: 10%;
}
.clear-container:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.btn-idade {
  width: calc(50% - 5px);
  float: left;
  border: 1px solid #FFF;
  padding: 10px;
  color: #FFF;
  font-size: 25px;
  cursor: pointer;
  font-weight: bold;
}
.btn-idade:hover {
  background-color: #FFF;
  color: #555;
}